 <%= flash[:message]%>

<%= render :partial => 'form_upload'%>


<% unless @receivables.blank? %>
<div class="page-header">
  <h1><%=t '.title', :default => 'receivables' %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Account_no</th>
      <th>Name</th>
      <th>Invoice</th>
      <th>Original_date</th>
      <th>Amount</th>
      <th>Due date</th>
    </tr>
  </thead>
  <tbody>
    <% @receivables.each do |post| %>
      <tr>
        <td><%= post.account_no %></td>
        <td><%= post.name %></td>
        <td><%= post.invoice %></td>
        <td><%= post.original_date %></td>
        <td><%= post.amount %></td>     
        <td><%= post.due_date %></td>
       </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @receivables %>
<% end %>
