<%= form_for @product, :html => { :class => 'form-inline' } do |f| %>
   <tr>
    <td> <%= f.text_field :name, :class => 'text_field' %></td>
    <td> <%= f.text_field :category, :class => 'text_field' %></td>
    <td> <%= f.text_field :releasedate, :class => 'text_field' %></td>
    <td> <%= f.text_field :price, :class => 'text_field' %> </td>
    </tr>
  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>   
  </div>
<% end %>
