<!DOCTYPE html>
<html>
<head>
  <title>CoffeeMeCrazy</title> 
  <%= stylesheet_link_tag  "application", "bootstrap" , :media => "all" %>
  <%= javascript_include_tag "application" %>  
   <%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js", "https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.14/jquery-ui.min.js"%>    
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="/">CoffeeMeCrazy</a>
      <% if user_signed_in? %>
      <ul class="nav">
        <li class="active">          
          <%= link_to 'Posts', posts_path %>
        </li>
      </ul>      
      <% end %>
      <p class="navbar-text pull-right">
        <% if user_signed_in? %>
          Logged in as <strong><%= current_user.email %></strong>.
          <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
          <%= link_to "Logout", destroy_user_session_path, :method => :delete, :id => "Logout", :class => 'navbar-link'  %>
        <% else %>
          <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
          <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %> |
          <%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook),:class => 'navbar-link'  %>
        <% end %>
      </p>
    </div>
  </div>  
</div>

   <div class="error_notification">
    <%= notice %>
    <%= alert %>
   </div>

<div class="container">  
  <div id="pag_yied">
   <%= yield %>  
  </div>
</div>

<footer>
  <div class="container">
    Sample Application
  </div>
</footer> 
</body>

</html>
